<div class="flex-row actions">
  {{#link-to "routines.edit" model}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
  <a {{action "delete" model}} class="red"><i class="fa fa-times-circle"></i> Delete</a>
</div>

{{!-- LIST THE DAYS --}}
<h2 class="padded no-padding-bottom">Scheduled</h2>
<ul class="week-list">
  {{#each day in scheduledDays}}
    <li>
      <span {{bind-attr class="day.scheduled:active"}}>
        {{day.abbreviation}}
      </span>
    </li>
  {{/each}}
</ul>

<h2 class="padded no-padding-bottom">Workouts</h2>
<ul class="link-list">
  {{#each workout in model.workouts}}
    <li>
      {{#link-to "workouts.show" workout}}{{workout.name}}{{/link-to}}
    </li>
  {{/each}}
</ul>
