<div class="flex-row actions">
  {{#link-to "workouts.edit" model}}<i class="fa fa-pencil"></i> Edit{{/link-to}}
  <a {{action "delete" model}} class="red"><i class="fa fa-times-circle"></i> Delete</a>
</div>