.week-list {
  margin: 0;
  padding: 0 modular-scale(0, $base-size);
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $link-list-border-color;
  li {
    margin: 0;
    padding: 0;
    position: relative;
    // flex: 1;

    > a {
      padding: modular-scale(0, $base-size) 0;
      display: block;
      text-align: center;
      font-size: modular-scale(-.5, $base-size);
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      position: relative;
      box-sizing: border-box;
      .date {
        font-size: modular-scale(-1.5, $base-size);
      }
      &.current {
        font-size: modular-scale(-1, $base-size);
      }
      &.active {
        color: $blue;
        opacity: 1;
      }
      &.completed {

      }
      &.skipped {

      }
    }
  }
}
