<div class="header">
  <div class="title">{{title}}</div>
  <a class="menu-icon" {{action 'toggleMenu'}}>
    <i class="fa fa-ellipsis-v"></i>
  </a>
  
  <div class="menu-wrapper">
    <div class="menu">
      <div class="actions">
        <a class="menu-icon" {{action 'toggleMenu'}}>
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <a class="menu-close-icon" {{action 'toggleMenu'}}>
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
      <ul class="link-list">
        {{!-- <li>{{#link-to 'week' currentWeek}}This Week{{/link-to}}</li>
        <li>{{#link-to 'routines'}}Routines{{/link-to}}</li> --}}
      </ul>
    </div>
  </div>
</div>