<ul class="week-list">
  {{#each day in model.days itemController="day.index"}}
    <li>
      {{#link-to "day" day class=day.status}}
        {{#if day.current}}
          Today
        {{else}}
          <div class="date">{{format-date day.date format="MMM D"}}</div>
          {{format-date day.date format="ddd"}}
        {{/if}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
